dataweave-poc/src/main/mule/order-by.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="b51553ef-70d5-4401-9e69-39261953686a" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="order-byFlow" doc:id="76e2f042-deaf-4218-985b-4375f98c0130" >
		<http:listener doc:name="Listener" doc:id="24a2c20e-8682-458c-97e9-24550291230f" config-ref="HTTP_Listener_config2" path="/orderby"/>
		<ee:transform doc:name="Transform Message" doc:id="fb8e90c4-a99a-4dbf-9464-1b1468b0e699" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data map {
	"id":$.id,
	"employeeName":$.employee_name,
	"salary":$.employee_salary,
	"employee_age":$.employee_age
}	orderBy $.employee_age]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1a406da8-4342-4b47-b591-ed668ac7b58a" />
	</flow>
</mule>
